<h2> Adiciona nova Categoria </h2>
<h4> SimuleAgora.com Soluções e Serviços </h4>
<h6> Modelo de formulário básico para aplicativos NodeJS</h6>
<div class="card-body"
    <div class="card">
         <form action="/admin/categorias/nova" method="POST"
            <label for="nome">Nome: </label>
                <input type="text" name="nome" id="nome" placeholder="Nome da categoria" class="form-control">
            <label for="slug">slug</label>
                <input type="slug" name="slug" id="slug" placeholder="Slug da Categoria" class="form-control">
            <br>
            <hr>
            <button type="submit" class="btn btn-success"> Criar Categoria </button>
            <br>
            <a href="/admin/categorias"><button type="button" class="btn btn-success mt-2">Lista de categorias</button>        
        </form>
    </div>
</div>
